---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import Services from '../components/Services.astro';
import Brands from '../components/Brands.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import AboutUs from '../components/AboutUs.astro';
import QuoteForm from '../components/QuoteForm.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout>
  <Header />
  <main>
    <!-- Hero -->
    <Hero />

    <!-- Services -->
    <Services />

    <!-- Why Choose Us -->
    <WhyChooseUs />

    <!-- About Us -->
    <AboutUs />

    <!-- Brands -->
    <Brands />

    <!-- Testimonios -->
    <!-- <Testimonials /> -->

    <!-- Quote Form -->
    <QuoteForm />
  </main>
  <Footer />
</Layout>
